@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --LIGHTBLUE: #3CDDF3;
    --DARKBLUE: #232C50;
    --PURPLE: #8B48BF;
    --WHITEALT: #FAFAFA;
    --BLACKALT: #1E1E26;
    --GRAYTEXT: #8C8C94;
}


body{
    background-color: var(--WHITEALT);
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}


header{
    display: flex;
    padding: 3rem ;
    justify-content: space-between;
}

header > nav{
    display: none;
}

section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 90vh;
    justify-content: space-evenly;
}

section:nth-of-type(1) > article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

section:nth-of-type(1) > article > h1{
    color: var(--DARKBLUE);
    font-family: 'Be Vietnam Pro';
    font-weight: 600;
    text-align: right;
    font-size: 3rem;
}

section:nth-of-type(1) > article > p {
text-align: right;
}

section:nth-of-type(1) > img {
    object-fit: contain;
    max-height: 350px;
}

section:nth-of-type(1) > article > button {
    align-self: end;
    margin-bottom: 2rem;
}

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    background-color: var(--LIGHTBLUE);
    color: #FFFFFF;
    font-family: 'Be Vietnam Pro';
    text-align: left;
    letter-spacing: -0.005em;
    padding: 3rem 1rem;

}

section:nth-of-type(2) > h2{
    font-weight: 700;
    font-size: 2rem;
}

section:nth-of-type(2) > p{
    font-size: 14px;
}


section:nth-of-type(3) {
    background-color: var(--WHITEALT);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #323851;
    font-family: 'Be Vietnam Pro';
    text-align: left;

    letter-spacing: -0.005em;
    padding: 4rem 0rem 4rem 2.5rem;
}

section:nth-of-type(3) > article > h3{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: rgba(139, 72, 191,.30);
    font-size: 12px;
    border-radius: 999px 0 0 999px;
}

section:nth-of-type(3) > article > h3>span{
    background-color: #8B48BF;
    color: var(--WHITEALT);
    border-radius: 999px;
    width: 4rem;
    text-align: center;
    padding: .7rem;
    margin-left: -0.5rem; 
}

section:nth-of-type(3) > article > p{
    color: #B3B2B7;
    font-size: 13px;
    line-height: 2.4ch;

    padding: 3ch 5ch 0 1ch;
    margin-left: -0.5rem; 
}

section:nth-of-type(4){
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2.5rem 4rem 2.5rem;
    gap: 4rem;
}

section:nth-of-type(4) > article{
    display: flex;

}

section:nth-of-type(4) > h2{
    font-size: 1.7rem;
    color: var(--DARKBLUE);

}
section:nth-of-type(4) > article > :nth-child(odd){
    display: none;
}

section:nth-of-type(4) > article > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

section:nth-of-type(4) > article > div > p:nth-of-type(1){
    color: var(--DARKBLUE);
    
    font-weight: 600;
}

section:nth-of-type(4) > article > div > p:nth-of-type(2){
    color: var(--GRAYTEXT);
    font-size: 14px;
    text-align: center;
    line-height: 2.4ch;
}
section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--LIGHTBLUE);
    color: #FFFFFF;
    font-family: 'Be Vietnam Pro';
    text-align: center;
    align-items: center;
    letter-spacing: -0.005em;
    padding: 3rem 1rem;

}

section:nth-of-type(5) > h2{
    font-weight: 700;
    font-size: 2rem;

}

section:nth-of-type(5) > button{
    font-size: 12px;
    background-color: var(--DARKBLUE);
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px 0;
}



footer{
    padding: 3rem;
    display: flex;
    flex-direction: column;
 background-color: var(--BLACKALT);
 align-items: center;
}

footer > svg{
    max-width: 8rem;
    margin: 3rem;
}

footer > svg :nth-child(n+2){
    fill: var(--WHITEALT);
}

footer > p {
color: var(--GRAYTEXT);
font-size: 12px;
}

button{
    width: fit-content;
    background-color: var(--PURPLE);
    border: none;
    border-radius: 10rem;
    color: var(--WHITEALT);
    padding: 14px 3rem;
    cursor: pointer;
}

footer nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1ch 3rem;
    padding: 3rem 0;
}

footer form > input{
    border-radius: 999px;
    border: none;
    background-color: var(--WHITEALT);
    padding: 2ch 1ch;
    width: 100%;
}

footer form {
    display: flex;
    width: 100%;
    gap: 1ch;
}

footer form> button{
    padding: 1ch 3ch;
}


nav li{
    list-style: none;
}

nav li > a{
    text-decoration: none;
    color: var(--WHITEALT);
}

#redes-sociales{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media (min-width:1250px) {
body{

}
section:nth-of-type(1){
    height: 85vh;
    flex-direction: row;
    padding: 2rem;
}

section:nth-of-type(1) > article{
    
}
section:nth-of-type(1) > button {
}


}